html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(red, white);*/
    background: cornflowerblue;
}

#searchArea{
    text-align: center;
    border: 2px solid black;
    background: rgba(80, 80 , 80, .3);
    /*width: 40%; 
    margin: 0 auto;
    height: 20%;*/
    /*margin-left: 16px;
    margin-right: 16px;  
    */
    /*position: fixed;*/
    /*right:50%;*/
    width: 90%;
    margin-left: 5%;
    top:0;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);  
    -webkit-background-clip: text;
    color: transparent;
    transform:rotate(-180deg);
  }
#displayArea {
  display: inline-block;
  overflow: auto;
  height: 40%;
}

#playlistInput{
  padding-bottom: 20px;
}

#errorBox{
  text-align: center;
  border: 2px solid black;
  background: rgba(80, 80 , 80, .3);
  /*width: 40%; */
  margin: auto auto;
  /*height: 20%;*/
}